.part2-container{
    text-align: center;
    z-index: -2;
    position: relative;
    z-index: -2;
    padding: 5vh 10vw;
}

.title-about-web{
    line-height: 4rem;
    letter-spacing: -0.05em;
    font-family: 'gotham-medium', 'gotham-black','Source Sans Pro',sans-serif;
    font-size: 3.5rem;
    color: #3A80CE;
margin: 0;
}
.about-web-real{
    font-size: 2em;
    font-weight: 300;
    text-align:left;
    width: auto;

    background-color: #FFFFFF78;
    border-left: 1px solid #959595;
padding: 20px 40px;
border-radius: 2.5px;
}
.part2-container {
    background-image: url('img/grafo-2.png');
    background-size: 180%;
    background-position-y: -1000px;
    background-position-x: 100px;
    background-repeat: no-repeat;
    }
.text-about-web{
    letter-spacing: .01em;
    color: #5e5e5e;
font-weight: 200;
padding-bottom: 10px;
}
/*imagem*/
.about-web{
    font-size: 2rem;
    font-weight: 300;
    background-image: url('img/image2.png');
    text-align: left;
}
.subcontainer-2 {
    width: 55vw;
    }

@media only screen and (max-width: 1200px) {   
    .background-color-2{
        background: #1f020247;
        height:100%;
    }  
    
    .part2-container{
        background-size: 250%;
        background-position-y: -600px;
        background-position-x: -300px;
        z-index:0;
    }
 
    .title-about-web{
        padding-bottom: 0;
        font-size: 3rem;
        line-height: 3rem;
        padding: 10px;
        padding-right: 0;
        border-radius: 5px;
        margin-top: 0;
        margin-bottom:0;
        color:black;
    }    
    .about-web {
        font-size: 1.2rem;
        font-weight: 300;        
        line-height:1.5em;
        margin: 0;
        background-position-x: right;
        background-size: cover;
    }

    .text-about-web{
        width: auto;
        padding-right: 0;
        font-size: 0.7em;
        margin-top:0;
        border-left: 1px solid black;
    }

}

@media only screen and (max-width: 570px) {
    .part2-container {
        max-width: 100vw; 
        display:block;
        text-align: left;
        z-index:1;
        background-size: 700%;
        background-position-y: -120vh;
        background-position-x: -200vw;
    }
    .title-about-web {
        padding-bottom: 10vw;
        padding-bottom: 0vw;
        margin: 0;
        line-height: 1.2em;
        padding:0;
        letter-spacing: -0.06em;
        padding-bottom: 10px;
        text-align: center;
        color: black;
        font-size: .8em;
    }
    
    .about-web {
        padding:0;
        font-size: 1.2rem;
        font-weight: 300;
        min-height:200px;
        background-position-y: center;
        background-color: #ffffff91;
        padding: 10px 5px;
        border-top: 1px solid black;
    }
    .about-web-real{
        width: auto;
        background-color: #ffffff91;
        padding: 30px 0;
        border-top:1px solid black;
    }
    .text-about-web{
        margin-left:0;
        margin-top: 20px;
        font-size: 0.6em;
        padding:0;
        border-left: none;
        margin-top: 20px;
        background:0;
    }
    .part2-container {
        max-width: auto;
        text-align: center;
    }
    .about-web-real{
        text-align: center;
    }
}