.header-content{
    margin-left: 5vw;
    position: absolute;
    top: 30vh;
}

.novo-curso-fgv-live {
    display: flex;
    margin-bottom: 5px;
    }

.info-subtitle {
    color: #FCFBF8;
    font-family: 'Montserrat';
    margin-top: 20px;
    max-width: 300px;
    }
.wrap-capa{
    color:white;
    height:100vh;
    color:#fff;
    border-top: 20px;
    z-index: 2;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.wrap-tentativa {
    max-width: 50vw;
}
.wrap-capa> .part1{
    background-color:#023A78;
}
.wrap-tentativa h2 {
    color: white;
    font-family: 'montserrat';
    font-weight: 100;
    font-size: 2em;
    border-left: 1px solid white;
    padding: 10px;
    width: 40%;
    background-color: #001d3c6b;
    line-height: 1.2em;
}
.wrap-capa > .part2{
    background-image: url('img/otimizado/bp-fgv.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: right;
}
.cover-title h1{
    line-height: 1.1em;
    font-family: 'montserrat';
    margin:0;
    line-height: auto;
    color: white;
    font-size: 3vw;
max-width: 600;
}
.agora-a-fgvdapp{
    font-family: 'montserrat';
}
.dapp{
    font-family: 'montserrat';
}
.header-content a{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    font-weight: 700;
    display: block;
    line-height: 15px;
    color: White;
    text-decoration: none;
}
.novo-curso-container{
    position: relative;
    top: 10vh;
    margin-left: 5vw;
}
.fgv-live{
    width: 70px;
margin-left: 5px;
    position:relative;
}
.black{
    font-family: 'gotham-black';
}
.cover-title {
    position: absolute;
    top: 20vh;
    margin-left: 5vw;
    z-index: 5;
}
/*
@media only screen and (max-width: 1366px) {
    .cover-title {
        top: 30vh;
        top: 20vh;
    }
    .wrap-tentativa h2 {
        font-size: 1.5em;
        padding: 10px;
        }
   }
*/
@media only screen and (max-width: 1200px) {

    a.primeiro:nth-child(1) {
        border-left: None;
    }
    .icone-rede > path {
        fill: white;
    }
    .cover-title h1 {
        font-size: 4vw;
max-width: 500px;
    }
    .wrap-tentativa h2 {
        font-size: 3vw;
        width: 40%;
        padding-left: 5px;
        background:none;
        border:none;
    }
    .wrap-tentativa{
        display:block;
        max-width: 50vw;
    }
    .wrap-capa > .part2{
        background-position-x: cover;
    }
    .agora-a-fgvdapp{
        margin-right:0;
    }
    .wrap-capa{
        height: 100vh;
    }
    .cover-title {
        top: 20vh;
    }
    .header-content {
        position: absolute;
        top: 25vh;
        margin-left: 10vw;
    }
    .subtitle{
        font-size: 3vw;
        width: 60%;
    }
    .fgv-live{
    }
    .background-color {
        background: #00000047;
        height: 100%;
    }
    .ornamento{
        width: 10vw;
    }
    .novo-curso{
        font-size: 2.5vw;
        letter-spacing: 0.05em;
    }
    .right{
        padding-top:12px;
    }
    .primary-cover{
        z-index: -1;
        position: relative;
    }
    .novo-curso-container{
        top: 10vh;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 570px) {
    .novo-curso-fgv-live {
        display: flex;
        justify-content: safe center;
        margin-bottom: 5px;
        }

    .cover-title h1 {
        line-height: 1.1em;
        font-size: 8vw;
        color: #FFFFFFF5;
        margin-bottom: 10px;
    }
    .wrap-capa {
        grid-template-rows: 1.5fr 0;
        grid-template-columns: 1fr;
        height:100vh;
    }
    .wrap-capa > .part2 {
        display: none;
    }
    .wrap-capa > .part1 {
        background-image: url('img/otimizado/bp-fgv.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
        background-position-y: inherit;
    }
    .cover-title {
width: 100%;
margin: 0;
display: block;
padding-top: 20px;
padding-left: 20px;
top: 60vh;
height: 40vh;
background: #023A78;
    }
    .siga-nos {
        display: none;
    }
    #logo {
        padding:0;    
    }
    .wrap {
        margin: 0 5vw;
        border-radius: 2.5px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
    }
    .wrap-tentativa {
        margin-top: 10px;
        max-width: none;
    }
    .wrap-tentativa h2 {
        background-color:none;
        padding:0;
        font-size: 6vw;
        width: 90%;
        letter-spacing: .05em;
    }
    .right{
        background-color:none;
        padding:0;
        border:none;
    }
    .fgv-live{
top: 0;
    }
    .novo-curso-container{
        top: 10vh;
        margin: 0 15vw;
    }
    .agora-a-fgvdapp {
        text-align: center;
        margin-right:0;
    }
}