.container-footer {
    display: flex;
    margin: 0 20vw;
padding: 10vh 0;
justify-content: space-between;
}

.midias{
    display: flex;
align-items: baseline;
min-width: 200px;
justify-content: space-around;
}
.icone-rede > path, circle{
    fill: #6c6c6c;
}
.container-footer > div:nth-child(1) {
    display: flex;
color: #dfdfdf;
}
.footer {
    position: relative;
    background-color: #f4f4f4;
border-top: 1px solid #aaa;
}
.terceiro {
    letter-spacing: .075em;
display: flex;
align-items: center;
gap:20px;
color: #6c6c6c;
font-weight: 400;
}
.logo-rodape{
    height: 100px;
}
.logo-rodape path,.st8, .st1, .st9, .st0{
    fill: #6c6c6c;
}

@media only screen and (max-width: 570px) {
    .terceiro {
        letter-spacing: .05em;
        font-weight: 300;
        text-align: center;
        padding-top: 10px;
        border-left:none;
        padding: 10px;
    }
    .container-footer {
        display: block;
    }
    .container-footer > div:nth-child(1) {
        justify-content: center;
    }
    .primeiro-a {
        height: 35px;
    }
}