*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'gotham-bold';
    src: url('font/gotham/GothamBold.ttf');
}
@font-face {
    font-family: 'gotham-book';
    src: url('font/gotham/GothamBook.ttf');
}
@font-face {
    font-family: 'gotham-medium';
    src: url('font/gotham/GothamMedium_0.ttf');
}
@font-face {
    font-family: 'gotham-black';
    src: url('font/gotham/Gotham-Black.otf');
}

html{
    overflow-x: hidden;
    -webkit-overflow-x:hidden;
}

body{
    font-family: 'Source Sans Pro',sans-serif;
    background:white;
    margin:0;
    font-size:1em;
    overflow-x:hidden;
    -webkit-overflow-x:hidden;
}

.siga-nos{
    color: #023A78;
    display: flex;
align-self: center;
letter-spacing: .1em;
text-transform: uppercase;
margin-right: 1.5vw;
font-family: 'Source Sans Pro',sans-serif;
font-weight: 300;
}

.subwrap-1{
    display: flex;
    gap: 20px;
    background-color: #023A78F5;
    border: 1px solid white;
    border-radius: 2.5px;
    padding: 0 2vw;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
}

#header{
    z-index: 10;
    position: fixed;
    width: 100%;
    padding-top: 20px;
}

.wrap {
    position: relative;
    padding: 0 5vw;
    height: auto;
display: flex;
justify-content: space-between;
}

.outros-links > a{
padding-left: 10px;
}

.outros-links{
    display: flex;
text-align: unset;
align-items: center;
min-width: 580px;
justify-content: space-between;
}

#logo{
    display: flex;
text-align: unset;
align-items: center;
margin-right:10px
}

.primeiro {
    text-decoration: none;
    color:white;
    }

.right {
    float: right;
    border-radius: 2.5px;
    padding: 1vh 2vw;
    position: relative;
    background-color: #FFFFFFC9;
    border: 1px solid #023A78;
}

.social{
    justify-content: space-between;
    -webkit-justify-content: space-between; 
    align-items: center;
    display:flex;
}

.select {
    display: inline-block;
    vertical-align: middle;
    height: 27px;
    position: relative;
    cursor: pointer;
}
.select > svg {
    position: absolute;
    right: 4px;
    top: 10px;
}
.social > a:nth-child(1) {
    margin-right: 15px;
   }
   .social > a:nth-child(1) > img:nth-child(1) {
    width: 95%;
   }

.icone-rede > path{
    fill: #023A78;
}
.icone-rede > circle{
    fill: #023A78;
}

.midias{
    display: flex;
align-items: baseline;
min-width: 150px;
justify-content: space-around;
}

svg:not(:root) {
    overflow: hidden;
}
header#header .right .social {
    float: left;
}

.social > img {
    width: 20px;
    }
    .social > a:nth-child(5) {
        margin-right: 0;
       }
       

.select .option.ativo {
    display: block;
    font-weight: 700;
}
.select .option {
    display: none;
    padding: 4px 15px 7px 7px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1;
    background: #1e417b;
    color: #fff;
}

.top-menuferramentas .wrap {
    padding: 10px 0;
    position: relative;
}

.top-menuferramentas .wrap .top-menuferramentas-list {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding-right: 32px;
}
ul, li {
    list-style: none;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}

.top-menuferramentas {
    display: none;
    }

.top-menuferramentas .wrap .top-menuferramentas-list li {
    display: inline-block;
    color: white;
}

.top-menuferramentas .wrap .top-menuferramentas-list li a {
    font-weight: 400;
    letter-spacing: normal;
    font-weight: 700;
    display: block;
    line-height: 15px;
    color: White;
    text-decoration: none;
    padding:0 15px;
    padding-left: 0;
    border-right:1px solid white;
}

.primary-options{
    display:flex;
    margin-top: 100px;
}

.primary-options li{
    margin-right: 40px;
}
.subtitle{
    line-height: 1em;
    font-weight: 300;
    color: #314486;
    padding: 2px 5px;
    width: 40%;
    background: #fff;
    font-size: 1.5vw;
    padding: 2px;
    margin: 0;
    font-family: 'gotham-book';
    margin-top: 10px;
}
a.abresuperform:nth-child(2) {
    display: none;
}

a.abresuperform:nth-child(1) {
    display: none;
}

.midias > a:nth-child(1) > img:nth-child(1) {
    width: 20px;
   }
   
   .midias > a:nth-child(3) > svg:nth-child(1) {
    width: 21px;
   }
   /* 1200 */

   @media only screen and (max-width: 1366px) {
    .siga-nos {
        display: none;
        }

        .wrap-tentativa h2 {
            align-self: auto;
            /* align-self: auto; */
            /* position: relative; */
            color: white;
            font-family: gotham;
            font-family: gotham-book;
            font-weight: 500;
            font-size: 2em;
            /* font-size: 2em; */
            margin: 0;
            border-left: 1px solid white;
            padding-left: 10px;
            width: 40%;
            /* padding-left: 10px; */
            width: 50%;
            background-color: #001d3c6b;
            line-height: 1.2em;
            line-height: 1.6em;
        }
        .outros-links {
            display: flex;
            text-align: unset;
            /* text-align: unset; */
            align-items: center;
            gap: 10px;
            /* gap: 10px; */
            /* color: white; */
            /* display: flex; */
            /* align-items: baseline; */
            min-width: 600px;
            justify-content: space-around;
        }
        .subwrap-1 {
            display: flex;
            gap: 20px;
            /* gap: 20px; */
            background-color: #023A7894;
            border: 1px solid white;
            border-radius: 2.5px;
            padding: 0 2vw;
            font-family: 'Source Sans Pro',sans-serif;
            font-weight: 300;
            letter-spacing: .1em;
            letter-spacing: .05em;
        }
        .outros-links > a {
            /* border-left: 1px solid white; */
            padding-left: 10px;
        }
        
   }

   
@media only screen and (max-width: 1200px) {
    .outros-links{
        justify-content: space-between;
padding-bottom: 5px;
    }
    .wrap {
        padding-right: 0;
        padding-left: 0;
        display: block;
    }

    .right{
        border-radius: 0;
        padding: .7vh 5vw;
        border: none;
        padding: .7vh 3vw;
        background-color: #023A7894;
        }
    .social {
        display:block;
    }
    .siga-nos{
        display: none;
        margin:0;
        text-align: center;
        margin-bottom: 15px;
    }
    .midias{
        display:flex;
        justify-content: space-around;
    }

    .subwrap-1{
        display:block;
        padding: 0 8vw;
    }
    #logo {
        padding: 15px 0;
        margin:0;
    }
    .social > a:nth-child(1) {
        margin-right: 0;
       }

       #header{
           padding-top:0;
       }
}

/*570 */
  @media only screen and (max-width: 570px) {
    #header {
        border-bottom: 1px solid #76aae1;
        background: #023A7894;
    }

    .wrap{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    #logo svg{
        width:30vw;
    }
    .right{
        background:none;
    }
    .subwrap-1{
        display:block;
        gap:0;
        background:none;
        border:none;
    }
    .outros-links {
        display: none;
        }
        .subwrap-1{
            padding:0;
        }
        .midias{
            gap:25px;
        }
}
