.programa-container {
    margin-bottom: 150px;
    margin-bottom: 200px;
    margin: auto 20vw;
}
.plus-icone-cima {
    display: block;
    }
    .plus-icone-baixo {
        display: none;
        }

.title-plus {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    }

.svg-circleplus {
    stroke: #bfb1b1;
    height: 20px;
    }
.programa-container h1{
    text-align: center;
font-family: 'montserrat';
font-size: 1.2em;
font-weight: 400;
letter-spacing: 0.1em;
color: #555;
margin: 100px 0;

}
.nome{
    margin-bottom:5px;
}
.programa{
    /*border: 1px solid #4b3ff5;*/
    background: white;
    color: white;
    text-align:right;
    cursor:pointer;
    border-bottom: 1px solid #999;
    margin: 1rem 0;
    box-sizing: content-box;
}
.programa:hover .svg-circleplus{
    stroke: orange;
}
.programa:hover h2{
    color: orange;
}


.prof-avatar-container{
    background-image:url('img/professores3/eurico-matos.png');
    background-size:cover;
}
.programa-container .carousel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 5px;
    position: relative;
    padding-top:50px;
    margin-bottom: 300px;
}
.programa p{
    font-weight: 300;
    line-height: 1.4em;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1em;
    letter-spacing: .05em;
    margin: 0;
color: black;
}
.programa h2{
    margin:0;
    color: #3A80CE;
}
.programa .sub-container .numero{
    margin:0;
    color: #444;
}
.programa .sub-container .numero:nth-of-type(2n){
    padding: 1rem 0 0 1rem;
}
.programa:nth-of-type(2n){
    text-align:left;
}
.programa:nth-of-type(2n)::before {
    left: 0;
    transform: translate(-200%,0%);
}
.programa-container .carousel::before {
    content: "";
    position: absolute;
    top: 0;
    height: 125%;
    left: 50%;
    width: 1px;
    background-color: #BBB;   
}

.lermais{
    font-size:0.7em;
    font-weight: 300;
}

.programa:last-of-type::after {
    display: block;
}
.programa:nth-of-type(2n)::after {
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.about-programa{
    color: black;
    border-radius: 5px;
    margin: 0;
}

.arrow{
    width: 10px;
    height:auto;
    height: 100%;
    margin: 12px;
    margin-right: 20px;
    transform: rotate(90deg);
    display: none;
}

.sub-container{
    padding:1rem;
    padding-bottom: 0.5rem;
}
@media only screen and (max-width: 1200px) {
    .programa-container {
        width: auto;
        margin: 0 10vw;
        margin-bottom: 150px;
    }
    .programa h2{
        font-size:1.2em;
    }
}

@media only screen and (max-width: 570px) {
    .svg-circleplus {
        display: none;
        }

    .plus-icone-cima {
        display: none;
        }
        .plus-icone-baixo {
            display: block;
            }

    .programa-container h1 {
        margin: 70px 0;
        
    }

    .sub-container {
        text-align: left;
        height: auto;
    }

    .programa h2{
        margin-bottom:0;
    }

    .programa{
        padding:10px 0;
    }

    .programa-container {
        width: auto;
        margin: 0;
        }

    .programa-container .carousel{
        display:block;
        padding-top:0;
    }

    .title-plus{
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .programa-container .carousel::before{
        z-index: -1;
    }

    .numero{
        margin-bottom:5px;
    }
    .programa-container .carousel::before {
        display: none;
    }

    .sub-container{
        padding: 0 10vw;
    }
    .programa.programa6 {
        margin-bottom: 0;
        }
}