.information-box{
    z-index: 5;
padding: 20px 20px 20px 20px;
margin-left: 5vw;
transform: translateY(200px);
background: #FCFBF8;
padding-top: 0;
z-index: 5;
    position: absolute;
    top: 30vh;
    width: 300px;
border: 1px solid #ccc;
color: #424242;
}

.info-container > div:nth-child(1) {
    display: flex;
    gap: 3px;
    }

    div.inicio:nth-child(2) {
        }
        div.matriculas:nth-child(3) {

        }
        div.duracao:nth-child(3) {

        }

.tempo {

    }
    .datas {
        }
.carva-horaria{
    grid-area: carga;
}
.info-container{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin: 25px 0;
}

.inscreva-se {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #FE9000;
    border-radius: 2.5px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1em;
    font-size: 1em;
}

    .inscreva-se:hover{
        background:#023A78F5;
        color:white;
    }

.saiba-mais{
    text-align: center;
    color:#444;
    width:80%;
    display: block;
    text-decoration:none;
    font-weight: 300;
    border-bottom:1px solid #888;
    letter-spacing:0.05em;
    margin: 0 auto;
}

.course-information{
    font-size:1.2em;
       
}

.info-title{
    color: #023A78;
font-weight: 600;
text-align: center;
font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
}

.novo-curso-box{
    display: flex;
    justify-content: space-around;
    margin: 25px 25px;
}

.novo-curso-box .dapp-logo{
    width: 40%;
    height: auto;
    }

.modalidade-container {
    align-items: center;
    margin-bottom: 10px;
}
       
div.modalidade:last-child {
    /*! width: 100%; */
}
.icon-container{
    width: 25px;
    transform: translateY(1px);
}    
div.modalidade-container:nth-child(2) {
}
div.modalidade-container:nth-child(4) {
    margin-top: 15px;
}
div.modalidade-container:nth-child(3) {
}
div.modalidade-container:nth-child(5) {
    margin-top: 5px;
}
div.modalidade:nth-child(3) {
    transform: translateY(2px);
}

@media only screen and (max-width: 1200px) {
    .information-box {
        z-index: 1;
        padding: 20px 20px 20px 20px;
position: absolute;
left: 0;
margin-left: 5vw;
transform: translateY(250px);
background: #FCFBF8;
padding-top: 0;
        
    }

        .novo-curso-box .dapp-logo {
            margin-top:0;
  }

  .information-box-container{
    background-image:url("img/segunda-capa-5.png");
    background-size: cover;
    position: relative;

    z-index: 0;
  }
}

@media only screen and (max-width: 570px) {
    .information-box {
        position: static;
        transform: translateY(-70px);
width: none;
margin: 20px auto;
    }

    
}