.part2-container{
    margin: 100px 0;
    margin-left: 10vw;
    text-align: center;
    z-index: -2;
    position: relative;
    z-index: -2;
}

.part2-container h1{
    font-size: 3rem;
    line-height: 3.2rem;
    color: #314486;
}

.about-web{
    font-size: 2rem;
    font-weight: 300;
    background-image: url('img/image2.png');
}

.about-web-real{
    font-size: 1.7em;
    font-weight: 300;
    width: 50vw;
}

@media only screen and (max-width: 1200px) {
    .part2-container {
        max-width: 100vw;
        text-align: left;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        margin:0;
        margin-left: 10vw;
    }
           
    .title-about-web{
        padding-bottom: 0;
        font-family: 'gotham-medium';
    }
    .part2-container h1 {
        margin: 0;
        letter-spacing: -.05em;     
        padding-top: 5vw;
        background-color: white;
        line-height: 2.4rem;
            text-align: left;
        color:  #314486;
        font-size: 2.3rem;
    }

    .text-about-web {
        border-left: 10vw;
        margin-bottom: 0;
        padding-bottom: 5vw;
        font-size: 1rem;
letter-spacing: 0.05em;
font-weight: 300;
line-height: 1.5em;
padding-top: 10px;
        }
    
    .about-web {
        font-size: 1rem;
        font-weight: 300;        
        line-height:1.5em;
        margin: 0;
background-position-x: right;
background-size: cover;
background-position-y: bottom;
    }

    .about-web-real {
        padding-right: 3vw;
        }
}

@media only screen and (max-width: 570px) {
    .part2-container {
        max-width: 100vw; 
        display:block;
        text-align: center;
        margin: 0px auto;
    }

    .part2-container h1 {
        padding-bottom: 10vw;
        color: #314486;
        padding-bottom: 0vw;
        line-height: 2.25rem;
        font-size: 2rem;
        text-align: center;
    }

    
    .about-web {
        padding:0;
        font-size: 1.2rem;
        font-weight: 300;
        min-height:200px;
        background-position-y: center;
        background-size: 150%;
    }

    .about-web-real{
        padding:0;
        margin: 30px 10px;
        width: auto;
       }
}