@font-face {
    font-family: 'gotham-medium';
    src: url('font/gotham/GothamMedium_0.ttf');
}

.label{
    font-size: 1em;
}

.label-processores {
    }
    .gallery .nome {
    margin-left: 0;
    }

.wrap-marco > figure:nth-child(1) {
    border: none;
    border-bottom: solid 1px #ccc;
   }
   .gallery .bio {
    margin-top: 0;
    }

   .tops {
    }

    .nome-inferior {
        display: none;
        }
        .nome-superior {
        font-family: 'montserrat';
        font-weight: 700;
        color: #3A80CE;
        }

        .gallery .about {
            margin-right: 15px;
            margin-left: 0;
            }
.corpo-docente-container h1 {
    font-family: 'montserrat';
font-weight: 400;
letter-spacing:0.1em;
color: #555;

}
.corpo-docente-container > .bio{
 border-bottom:1px solid #ccc;
}

figure {
    margin: 0px;
}
.bio{
    font-family: 'montserrat';
    margin-top:10px;
}
.bio-top{
    max-width:none;
}

.coordenacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    }

.galery .nome{
    margin-left: 0;
}

.about{
color: #424242;
max-width: 250px;
line-height: 1.4em;
}
.gallery .about{
}
.corpo-docente-container {
    margin: 5vw 15vw;
    font-size: 0.8em;
   } 


.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.gallery h1 {
    font-size: 3em;
    color: #314486;
    margin-bottom: 60px;
    text-align: left;
    margin-left: 10vw;
}

.gallery__item{
    border-left: none;
    margin: 30px 0px;
}
.gallery__img {
    height: 200px;
    width: 180px;
    margin-bottom: none;
    object-fit: cover;
    object-position: top; 
} 
.nome, .about{
    margin-left: 10px;
}
.nome{
    font-weight: 500;
    font-size: 1.2em;
}

.wrap-marco .nome {
    margin-right: 20px;
}
.wrap-marco .about {
}

    .wrap-marco > .gallery__item {
        display: grid;
grid-template-columns: auto 1fr ;
        }

        .img-top{
            width: 180px;
        }

        div.wrap-marco:nth-child(1) > figure:nth-child(2) {
            border-left: none;
            }

            .coordenacao > div:nth-child(2) > figure:nth-child(2) {
                border-left: none;
                }

                .coordenacao .bio {
                    }
                    .coordenacao .nome {
                    }

@media only screen and (max-width: 1200px) {

    .label-processores{
    }
.corpo-docente-container h1{
    text-align: left;
    margin-top: 4vh;
}
.nome, .about{
    margin-left:0;
}
.label-professores {
    margin: auto 10vw;
    }

.marco1 .bio{
    margin-left:10px;
}

.gallery .about {
    line-height: 1.4em;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .coordenacao .bio{
        margin-top: 5px;
    }

    .coordenacao .nome{
        margin-left: 0;
    }
    .coordenacao .about{
        margin-left: 0;
    }
    .coordenacao .gallery__item{
        display:block;
    }

    .wrap-marco > .gallery__item {
        width: 100%;
        }
    .corpo-docente-container{
        width: auto;
    }
    .gallery__img{
    }
    .bio{
        margin-top: 0px;
    }  
    .part6-container {
        margin-left: 0;
        width: auto;
    }
    .part6-container .gallery__img{
        width: 30%;
    }
    
.gallery__item{
    margin: 20px auto;
    min-width:auto;
    border: none;
}
.tops {
    width: auto;
    }
    #Layer_1 > path{
        fill: white;
        }
        .icone-rede > circle{
            fill: white;
            }

}

@media only screen and (max-width: 570px) {

    .gallery .bio {
        margin-top: 10px;
        }

    .marco1 .bio{
        margin-left:0;
    }
    .coordenacao{
        display:block;
    }
    .about::before {
    }
    .nome-superior {
        display: none;
        }
        .nome-inferior {
            display: block;
            }

            .gallery__item:active .gallery__img {
                width: 40vw;
                transition: 0.5s;
                }
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: left;
    }
    
    .gallery .about {
        }
    .corpo-docente-container {
        margin: 0;
    }
    .gallery__item {
        border: none;
        margin:0;
        display:flex;
    }
    .gallery__img{
        height: 180px;
        width:35vw;
        
    }
    .about{
        margin-right: 8vw;
    }
    .bio{
        margin-top: 10px;
        user-select: none;
        border-bottom: 1px solid #BDBDBDC4;
        padding-left: 10px;
    }

    .coordenacao .gallery__item{
        display:grid;
    }
    .wrap-marco .nome {
    }
    .wrap-marco .about {
    }
    .nome{
    }
    .corpo-docente-container h1 {
color: #555;
font-size: 1em;
margin-bottom: 40px;
margin-top: 80px;
margin-left: 10px;
    }
    figure.gallery__item:nth-child(18) > div:nth-child(2) {
        border-bottom:none;
    }
    figure.gallery__item:last-childs > div:nth-child(2) {
        border-bottom:none;
    }
    .wrap-marco > figure:nth-child(1) {
        border: none;
    }
    .tops{
        margin: 0;
    }
}