@font-face {
    font-family: 'gotham-medium';
    src: url('font/gotham/GothamMedium_0.ttf');
}

.wrap-marco > figure:nth-child(1) {
    border: none;
    border-bottom: solid 1px #ccc;
   }

   .tops {
    margin: 0 20vw;
    }

    .nome-inferior {
        display: none;
        }
        .nome-superior {
        font-size: 1.4em;
        font-family: 'montserrat';
        font-weight: 700;
        color: #3A80CE;
        }

        .gallery .about {
            margin: 10px;
            }
.corpo-docente-container h1 {
    text-align: center;
    font-family: 'montserrat';
    font-size: 1em;
font-weight: 400;
letter-spacing:0.1em;
color: #555;
margin: 100px 0;
}
.corpo-docente-container > .bio{
 border-bottom:1px solid #ccc;
}

figure {
    margin: 0px;
}
.bio{
    text-align: left;
    font-size: 1.4em;
    font-family: 'montserrat';
    font-weight: 700;
    color: #3A80CE;
    margin-top:10px;
    max-width: 250px;
}
.bio-top{
    max-width:none;
}

.coordenacao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    }

.about{
    font-size: 0.7em;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 300;
    color:#555;
}
.gallery .about{
    max-width: 300px;
}
.corpo-docente-container {
    margin-top: 10vw;
   } 


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 15vw;
justify-items: center;
}
.gallery h1 {
    font-size: 3em;
    color: #314486;
    margin-bottom: 60px;
    text-align: left;
    margin-left: 10vw;
}

.gallery__item{
    border-left: 1px solid #999;
    margin: 30px 0px;
}
.gallery__img {
    height: 250px;
    width:250px;
    margin-bottom: none;
    object-fit: cover;
    object-position: top; 
} 
.nome, .about{
    margin-left: 10px;
}

.wrap-marco .nome {
    font-size: 1.5em;
    margin-right: 10px;
}
.wrap-marco .about {
    font-size: 1em;
}

    .wrap-marco > .gallery__item {
        display: grid;
grid-template-columns: 1fr auto;
        }

        .img-top{
            width: 180px;
        }

        div.wrap-marco:nth-child(1) > figure:nth-child(2) {
            border-bottom: solid 1px #ccc;
            border-left: none;
            }

            .coordenacao > div:nth-child(2) > figure:nth-child(2) {
                border-bottom: solid 1px #ccc;
                border-left: none;
                }

                .coordenacao .bio {
                    font-size: 1.25em;
                    }
                    .coordenacao .nome {
                    font-size: 1.3em;
                    }

@media only screen and (max-width: 1200px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .wrap-marco > .gallery__item {
        width: 100%;
        }
    .corpo-docente-container{
        width: auto;
    }
    .gallery__img{
        width: 25vw;
    }
    .bio{
        font-size: 1.2em;

    }  
    .part6-container {
        margin-left: 0;
        width: auto;
    }
    .part6-container .gallery__img{
        width: 30%;
    }
    
.gallery__item{
    margin: 50px auto;
    min-width:auto;
}
.tops {
    width: auto;
    margin: auto 10vw;
    }
    #Layer_1 > path{
        fill: white;
        }
        .icone-rede > circle{
            fill: white;
            }

}

@media only screen and (max-width: 570px) {

    .coordenacao{
        display:block;
    }
    .about::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 1px;
        background-color: #6FAEFF;
        transform: translate(-20px, 8px);
z-index: -1;
border-radius: 1px;
    }
    .nome-superior {
        display: none;
        }
        .nome-inferior {
            display: block;
            }

            .gallery__item:active .gallery__img {
                width: 40vw;
                transition: 0.5s;
                }
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        justify-items: left;
    }
    
    .gallery .about {
        margin: 5px 20px;
        }
    .corpo-docente-container {
        margin: 0;
    }
    .gallery__item {
        border: none;
        margin:0;
        display:flex;
    }
    .gallery__img{
        height: 200px;
        width:35vw;
        
    }
    .about{
        margin-left: 10px;
        font-size: .8em;
        margin-right: 8vw;
    }
    .bio{
        margin-top: 25px;
        user-select: none;
        border-bottom: 1px solid #BDBDBDC4;
    }
    .wrap-marco .nome {
        font-size: 1em;
    }
    .wrap-marco .about {
        font-size: .8em;
    }
    .nome{
        margin-bottom: 15px;
        font-size: 1em;
    }
    .corpo-docente-container h1 {
color: #555;
font-size: 1em;
margin: 70px 0;
    }
    figure.gallery__item:nth-child(18) > div:nth-child(2) {
        border-bottom:none;
    }
    figure.gallery__item:last-childs > div:nth-child(2) {
        border-bottom:none;
    }
    .wrap-marco > figure:nth-child(1) {
        border: none;
    }
    .tops{
        margin: 0;
    }
}