.title-about-web {
    font-family: 'montserrat';
    font-size: 1.2em;
    font-weight: 500;
}
.carousel-habilidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }
    .texto-chamada {
        margin-bottom: 40px;
        max-width: 600px;
 
        }
.highlight{

}
.about-web{
    font-size: 2rem;
    font-weight: 300;
    background-image: url('img/image2.png');
    text-align: left;
}
.text-about-web {
    font-weight: 300;
    margin: 0;
}
.subcontainer-2 {
    margin: 5vw 15vw;
    font-family: 'Montserrat';
font-size: 0.9em;
line-height: 1.5em;
}
.sobre-o-curso h1 {
    font-weight: 500;
font-size: 1em;
    font-family: 'Montserrat';
}
.habilities p{
    font-weight: 300;
height:80%;
padding-left: 10px;
border-left: 1px solid rgb(220, 220, 220);
padding-right: 15px;
}
.sobre-o-curso {
    margin-bottom: 20px;
    }

/*.habilities:nth-of-type(2n)::after {
    transform: translateX(-0.7vw);
}
*/
@media only screen and (max-width: 1200px) {   
    .subcontainer-2 {
        margin: 5vw 15vw;
        }
    .background-color-2{
        background: #1f020247;
        height:100%;
    }  
    .sobre-o-curso {
        }

    .sobre-o-curso h1 {
        font-size: 1em;
margin-bottom: 0px;
font-weight: 500;
    }
    .carousel-habilidades {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .title-about-web {
        font-size: 1em;
margin: 0 10px 0 0;
font-size: 1.2em;
    }
    .text-about-web {
        margin: 0;
    }
    .texto-chamada{
        grid-template-columns: 1fr 2fr;
        display: grid;
        margin-bottom: 40px;
        max-width: none;
    }

    .habilities p {
        padding-right: 25px;
        border-left: 1px solid rgb(220, 220, 220);
    }

}

@media only screen and (max-width: 570px) {
    .texto-chamada {
        margin-top: 0;
        text-align: center;
        margin: 5vh 20px;
        display: block;
    }
    .sobre-mba-container {
        z-index:1;
        max-width: auto;
    }
    .title-about-web {
        margin: 0;
        line-height: 1.2em;
        margin-right:0;   
        font-size: 1.5em;
        font-weight: 400;  
        margin-bottom: 20px;
    }
    .text-about-web{
        margin-right:0;
        letter-spacing: auto;
        font-size: 1em;
    }
    .sobre-o-curso{
        border-left:none;
        border-right: none;
        display:block;
        margin: 10vh 20px;
    }
    div.habilities:nth-child(1) {
        border-top: 0;
    }
    .grafo{
        background-image:none;
    }
    .subcontainer-2 {
        height: auto;
        display: block;
        text-align: center;
        margin: 0;
    }
    .sobre-o-curso .carousel-habilidades{
        margin-right:0;
    }
    .carousel-habilidades{
        display: block;
    }
    .carousel-habilidades .habilities {
        border:none;
        border-top: 1px solid #ddd;
        background-color: none;
        min-height: 50px;
        align-items: center;
        margin-left:0;
    }
    .habilities::before{
        display: none;
    }
    .sobre-o-curso h1 {
        font-weight: 400;
    }
    .habilities p {
        font-size: 1em;
        margin: 5px 0px;
        border: none;
        padding: 10px 20px;
    }
    .habilities:nth-of-type(2n) {
        transform: none;
    }
    .carousel-habilidades::before {
        display:none;
    }
    .habilities::after {
        display:none;
    }
    .habilities:nth-of-type(2n) {
        padding-left: 0;
        margin-left: 0;
    }
}