.about-dapp-container {
    min-height: 600px;
    display: grid;
    z-index:60;
    z-index: 10;
    position: relative;
    z-index: 10;
    position: relative;
    margin: 0 10vw;
    background-image: url('img/dapp-laboratorio.jpg');
    background-size: cover;
    background-position-y: bottom;
}
.about-dapp-subcontainer {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.about-dapp-subcontainer p {
    font-size: 1.2em;
    font-weight: 200;
color: white;
line-height: 1.5em;
margin: 0;
max-width: 800px;
margin: 15px;
border-left: 1px solid white;
padding-left: 25px;
letter-spacing: 0.02em;
}
.picture-dapp{
}
.about-dapp-subcontainer svg{
    width: 250px;
    margin: 10px;
}

.st8{
    fill:white;
}
#Layer_1 > path{
    fill:white;
}

.texto {
    text-align: left;
    display: flex;
}
.content-about-dapp {
    position: relative;
    width: 100%;
    background: #000000db;
display: flex;
}

@media only screen and (max-width: 1200px) {               
    .about-dapp-container {
        margin: auto;
        border-top: 1px solid #ccc;
    }
    .about-dapp-subcontainer {
        justify-content: center;
    }
}

@media only screen and (max-width: 570px) {
    .sublogo-about-dapp path {
        fill: white;
    }
    .sublogo-about-dapp{
        fill: white;
        border-bottom: 1px solid #595959;
        height:auto;
    }
    .sublogo-about-dapp polygon {
        fill: white;
    }
    .picture-dapp {
        display: none;
    }
    .about-dapp-subcontainer p {
        color: white;
        line-height: 1.3em;
        padding: 30px 0px;
        font-weight: 100;
        font-size: 1.3em;
        margin:0;
        border-left:none;
        text-align: center;
    }
    .about-dapp-subcontainer svg {
        width: 300px;
    }
    .about-dapp-container {
        background-image: url('img/dapp-laboratorio.jpg');
        background-size: cover;
        background-position-y: bottom;
        grid-template-columns: 1fr auto;
    }
    .about-dapp-subcontainer {
        background-color: #000000d6;
        margin:0;
        align-items: center;
    }
    .content-about-dapp {
        background: none;
        display: block;
        width:80%;
    }
}